{% extends "itineraires/base.html" %}
{% block content %}


      
        <div class="container mt-3">
            
            
      {% comment %} si l'utilisateur faitune recherche, on affiche le résultat de la recherche {% endcomment %}
      
      
     {%if search%}
      {% if itineraire_list or sortie_list %}
      <h2> Résultat correspondant à votre recherche :  </h2>
      {%if itineraire_list %}
      <h2> Itinéraires :  </h2>
      
      <table class="table table-hover">
        <thead>
            <tr>
              <th scope="row"> </th>
              <th scope="col"> Nom </th>
              <th scope="col"> Point de départ </th>
              <th scope="col"> Description </th>
              <th scope="col"> Altitude de départ</th>
              <th scope="col"> Altitude minimale </th>
              <th scope="col"> Altitude maximale </th>
              <th scope="col"> Dénivelé positif cumulé</th>
              <th scope="col"> Dénivelé négatif cumulé</th>
              <th scope="col"> Durée estimée </th>
              <th scope="col"> Difficulté estimée </th>
            </tr>
        </thead> 
        <tbody>  
        {% comment %} si l'utilisateur faitune recherche, on affiche le résultat de la recherche {% endcomment %}
        
          {% for itineraire in itineraire_list %}
              
                  <tr>
                      <th scope="row"> </th>
                      <td><a href="{%url 'sorties' itineraire_id=itineraire.id %}">{{ itineraire.titre }}</a></td>
                      <td>{{ itineraire.point_depart }}</td>
                      <td>{{ itineraire.description }} </td>
                      <td>{{ itineraire.altitude_depart }} m</td>
                      <td>{{ itineraire.altitude_max }} m</td>
                      <td>{{ itineraire.altitude_min}} m</td>
                      <td>{{ itineraire.denivele_pos}} m</td>
                      <td>{{ itineraire.denivele_neg}} m</td>
                      <td>{{ itineraire.duree_estimee}} h</td>
                      <td>{{ itineraire.difficulte_estimee}} / 5</td>
                  </tr>
              
          {% endfor %}
          {% comment %} sinon on affiche tous les itineraires {% endcomment %}
          
         
        </tbody>
        </table>
        
        
        {%endif%}
        {%if sortie_list  %}
        <h2> Sorties : </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="row"> </th>
                    <th scope="col"> Par </th>
                    <th scope="col"> Date </th>
                    <th scope="col"> <center> Difficulté ressentie </center> </th>
                    <th scope="col">  </th>
                    <th scope="col">  </th>
                    <th scope="col">  </th>
                </tr>
            </thead> 
            <tbody>  
                {% for sortie in sortie_list %}
                
                        <tr>
                            <th scope="row"> </th>
                            <td>{{ sortie.utilisateur.username }}</td>
                            <td>{{ sortie.date_sortie }} </td>
                            <td> <center> {{ sortie.difficulte_ressentie }} / 5  </center> </td>
                            <td><a href="{%url 'details' itineraire_id=sortie.itineraire.id sortie_id=sortie.id%}" class="btn btn-outline-primary"> Consulter </a> </td> 
                            <!--seulement pour utilisateur connecté -->
                            {% if user.is_authenticated%}
                              {% if user.username == sortie.utilisateur.username%}
                                  <td> <a href="{%url 'modif_sortie' itineraire_id=itineraire.id sortie_id=sortie.id %}" class="btn btn-outline-danger"> Modifier </a></td>
                              {% endif %} 
                            {% else %}
                                <td>  </td> 
                            {% endif %}
                        </tr>
                {% endfor %}
            </tbody>
            </table>
            {%endif%}
            {%else%}
            <h2> Pas de résultat pour votre recherche </h2> 
        {%endif%}
        {%else%}
        <h2> Veuillez taper une recherche </h2>
        {%endif%}
        
            
            
            
               
               
      {% endblock %}